

/* Home Page Styling */
.home-container {
    text-align: center;
    font-family: Arial, sans-serif;
    text-align: center;
    align-items: center;
}

/* Navbar Styling */
/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px 30px;
    background-color: rgb(49, 67, 86);
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; 

}

/* Navbar Links */
.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

/* Hover Effects */
.navbar a:hover {
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    transform: scale(1.1); 
}

.bold{
    font-weight: bold;
    font-size: 20px;
    color: rgb(87, 86, 86);
}
.italic{
    font-style: italic;
    font-weight: 400;
    color: rgb(70, 70, 70);
}
.home-header {
    margin-top: 50px;
    padding: 0 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.home-header h1 {
    font-size: 30px;
    color: #202020;
    margin-bottom: 20px;
    margin-right: 200px;
}

.home-header p {
    font-size: 17px;
    color: #555;
    line-height: 1.6;
    text-align: justify; 
    margin-bottom: 20px;
}
